<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Schema owns the stored procedures -->
        <add key="ProcedureOwner" value="hospital_dba" />
        <!-- DB address only -->
	    <add key="DataSource" value="localhost:1521/PDB_QLYT" />
    </appSettings>
</configuration>